@{
    ViewBag.Title = "UnicornInc";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application is just a demo to show how to migrate a simple .NET Framwork Web App to .NET core.</p>
<p><a href="https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/dotnet-core-tutorial.html" class="btn btn-primary btn-lg">Deploy your .NET core app to AWS Elastic Beanstalk. &raquo;</a></p>