@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <style>
            body {
                background-color: #f3ac1a;
            }

            h1 {
                background-color: #f1afd9;
            }

            p {
                background-color: #f2e71c);
            }
        </style>
        <!--<h1>Win 304 - Sample .NET Framwork App</h1>-->
        <h1>Get your connection token here to connec to internal sites and services.</h1>
       <!-- <p class="lead">Welcome to AWS Tutorial for porting .NET Framework Application to .NET Core and Modernize it. For this purpose we will work on below web application which is counting the number of times you have visited this page.</p>
        <p><a href="https://aws.amazon.com/getting-started/projects/break-monolith-app-microservices-ecs-docker-ec2/" class="btn btn-primary btn-lg">Migrate to Microservices from Monolith &raquo;</a></p>-->
    </div>


<!--<h2>You have visited this page @ViewData["Message"] times</h2>-->
<h2>Your connection tokens for today is: @ViewData["LuckyNumbers"] and you have retrieved a token @ViewData["Message"] time(s) during this session</h2>
